page-contact {

    ion-avatar img  {
        width:250px !important;
        height : 250px !important;




        }

    .avatar{
        margin-left: auto;
        margin-right: auto;
        }


    .bgimg {
        background-image: url('../../assets/imgs/ny.jpg');
        padding-top: 100px;
        padding-bottom: 100px;
        margin: 0px;
    }


}
